* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Ignore for export
/.git export-ignore
/.github export-ignore
/.idea export-ignore
/.phpunit.cache export-ignore
/node_modules export-ignore
/tests export-ignore

/.editorconfig export-ignore
/.env.testing export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/coverage.xml export-ignore
/eslint.config.cjs export-ignore
/package.json export-ignore
/package-lock.json export-ignore
/phpunit.xml export-ignore
/webpack.mix.js
